@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,800;1,14..32,800&family=Noto+Sans+KR:wght@600&display=swap');

html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}
